/*------View candidate--------*/
.view-candidate {

}

.header-action-item {
    float: right;
    padding: 0px 5px;
    position: absolute;
    top: 12px;
    right: 10px;
}

.header-action-item form {
    display: inline-block;
}

/*--------- New candidate ----------*/
.new-candidate {
    &__box-sociallinks {
        input[name="social_links[]"] {
            padding-right: 33px;
        }

        .fa-minus-circle {
            position: relative;
            margin-left: calc(100% - 27px);
            top: -26px;
            cursor: pointer;
        }
    }
}

/*------- Edit candidate ----------*/
.ed-candidate {
    &__box-sociallinks {
        input[name="social_links[]"] {
            padding-right: 33px;
        }

        .fa-minus-circle {
            position: relative;
            margin-left: calc(100% - 27px);
            top: -26px;
            cursor: pointer;
        }
    }
}
