/*------ dashboard ------*/

.dashboard {
    &__title {
        font-size: 32px !important;
        text-align: center;
    }

    &__content {
        p {
            font-size: 18px;
            text-align: center;
        }
    }
}

.search-form {
    &__candidates {
        float: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        margin-top: 20px;

        &__col-left {
            border: 1px solid #d2d6de;
            border-radius: 5px;
            width: 200px;
        }

        &__col-right {
            display: flex;
            margin-left: 3px;

            @media (max-width: 550px) {
                margin-left: 0;
            }

            &__wrap {
                position: relative;

                i {
                    position: absolute;
                    right: 6px;
                    top: 2px;
                }
            }
        }

        &__job {
            border: none;
            height: 32px;
            width: 100%;
        }

        &__search {
            width: 200px;
            border-radius: 4px;
        }

        &__search-btn {
            margin-left: 13px;
        }

        @media (max-width: 550px) {
            flex-direction: column;

            &__col-right {
                margin-top: 12px;
            }
        }
    }
}